.list-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.list-table th,
.list-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.btn-detail {
  background: #1976d2;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-detail:hover {
  background: #115293;
}
