html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}


.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.layout-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: #f9fafb;
  box-sizing: border-box;
}