html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}


.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.layout-content {
   flex: 1;
  background: #f5f7fb;
  box-sizing: border-box;
  width: 100%;
}
